# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
venv/
.env/
.venv/

# Herramientas de empaquetado
build/
dist/
*.egg-info/
*.spec

# Configuración de editores
.vscode/
.idea/

# Archivos de sistema
Thumbs.db
.DS_Store

# PyInstaller
*.exe
*.dll
*.manifest
*.log

# Otros
*.tmp
